@keyframes fadeIn{
	0%{opacity: 0},
	100%{opacity: 1}
}

*{
	border: 0;
	margin: 0;
	padding: 0;
	font-family: "century gothic";
	text-decoration: none;
}
body{
	animation: fadeIn .5s linear;
}
.header{
	width: 100vw;
	height: 100vh;
	position: relative;
	background-image: url('../img/img1.jpg');
	background-size: cover;
}
.header-content{
	width: 900px;
	margin: 0 auto;
	padding: 10% 0;
}
.header-content-logo img{
	width: 250px
}
.header-content-logo{
	float: left;
	text-align: center;
	width: 300px;
}
.header-content-text{
	float: left;
	width: 500px;
	margin: 10px 50px;
	text-align: center;
	color: #fff;
	font
	text-shadow: 0 0 20px #000;
	letter-spacing: 2px;
	text-transform: uppercase;	
}
.header-nav{
	clear: both;
	position: absolute;
	bottom: 0;
}
.header-nav-li{
	text-align: center;
	float: left;
	width: 50vw;
	color: #aaa;
	font-size: 30px;
	font-weight: normal;
	border-top: solid #aaa 1px;
	text-shadow: 0 0 20px #000;
	transition: .3s;
}
.header-nav-li:hover{
	background-color: rgba(0,0,0,0.5);
}